extends layout

block content
    h1 #{title}

    if success
        if isDeletion
            p You deleted data matching the following pattern:
            blockquote
                each value, key in data
                    p #{key}: #{value}
            p From table: "#{table}"
        else
            p You uploaded:
            blockquote
                each value, key in data
                    p #{key}: #{value}
            p To table: "#{table}"
    else
        p Sorry, that upload wasn't successful. The database remains unchanged.
        blockquote
            p #{error}

    h2 What Next?
    p Back to the #[a(href="/admin") admin page].
