extends layout

block content
    div.helpbox
        h2 Parish Priest
        p #[b #{parishPriest.full_name}]
            br
            | #[i Presbytery] &nbsp; #{parishPriest.landline}
            br
            | #[i Mobile] &nbsp; #{parishPriest.mobile}
            br
            | #[i Email] &nbsp; #{parishPriest.email}
            br
            | #[i Post] &nbsp; #{parishPriest.address_name}

        h2 Location
        p #{location.house_name}
            br
            | #{location.firstLine}
            br
            | #{location.town}
            br
            | #{location.post_town}
            br
            | #{location.postcode}

    h1 Service Times

    table.homepage
        tr
            th Service
            th Time
            th Location
        for service in serviceTimes
            tr
                td=service.service_type
                td=service.time
                td=service.location_name

    // /images/st_marys_edlington_nave.jpg
    // /images/st_marys_edlington_outside1.jpg

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="/images/st_marys_edlington_nave.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="/images/st_marys_edlington_outside1.jpg" style="width:100%">
        </div>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    if mostRecentNewsletter
        h2 Newsletters
        ul
            li Most recent: #[a(href=mostRecentNewsletter.link) Week beginning #{mostRecentNewsletter.weekBeginning}]
            li #[a(href="/newsletters") Older newsletters]

    h2 Useful Pages
    ul
        li #[a(href="/") Useful external links]

    if isAdmin
        h2 Hidden Area
        ul
            li #[a(href="/admin") Admin area]

    script(type='text/javascript').
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 5000); // Change image every 2 seconds
        }
