extends layout

block content
    div.helpbox
        h2 Parish Priest
        p #[b #{parishPriest.full_name}]
            br
            | #[i Presbytery] &nbsp; #{parishPriest.landline}
            br
            | #[i Mobile] &nbsp; #{parishPriest.mobile}
            br
            | #[i Email] &nbsp; #{parishPriest.email}
            br
            | #[i Post] &nbsp; #{parishPriest.address_name}

        h2 Location
        p #{location.house_name}
            br
            | #{location.firstLine}
            br
            | #{location.town}
            br
            | #{location.post_town}
            br
            | #{location.postcode}

    h1 Service Times

    table.homepage
        tr
            th Service
            th Time
            th Location
        for service in serviceTimes
            tr
                td=service.service_type
                td=service.time
                td=service.location_name

    // /images/st_marys_edlington_nave.jpg
    // /images/st_marys_edlington_outside1.jpg

    div.slideshow-container-homepage
        div.mySlides.fade
            img(src='/images/st_marys_edlington_nave.jpg')
        div.mySlides.fade
            img(src='/images/st_marys_edlington_outside1.jpg')

    if mostRecentNewsletter
        h2 Newsletters
        ul
            li Most recent: #[a(href=mostRecentNewsletter.link) Week beginning #{mostRecentNewsletter.weekBeginning}]
            li #[a(href="/newsletters") Older newsletters]

    h2 Useful Pages
    ul
        li #[a(href="/") Useful external links]

    if isAdmin
        h2 Hidden Area
        ul
            li #[a(href="/admin") Admin area]

    script(type="text/javascript", src="frontend_scripts/slideshow.js")
