extends layout

block content
    script(type='text/javascript').
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }

    div.helpbox
        h2 Parish Priest
        p #[b #{parishPriest.full_name}]
            br
            | #[i Presbytery] &nbsp; #{parishPriest.landline}
            br
            | #[i Mobile] &nbsp; #{parishPriest.mobile}
            br
            | #[i Email] &nbsp; #{parishPriest.email}
            br
            | #[i Post] &nbsp; #{parishPriest.address_name}

        h2 Location
        p #{location.house_name}
            br
            | #{location.firstLine}
            br
            | #{location.town}
            br
            | #{location.post_town}
            br
            | #{location.postcode}

    h1 Service Times

    table.homepage
        tr
            th Service
            th Time
            th Location
        for service in serviceTimes
            tr
                td=service.service_type
                td=service.time
                td=service.location_name

    // /images/st_marys_edlington_nave.jpg
    // /images/st_marys_edlington_outside1.jpg

    <div class="container">
        <div class="mySlides">
            <img src="/images/st_marys_edlington_nave.jpg" width="200">
        </div>

        <div class="mySlides">
            <img src="/images/st_marys_edlington_outside1.jpg" width="200">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>

    if mostRecentNewsletter
        h2 Newsletters
        ul
            li Most recent: #[a(href=mostRecentNewsletter.link) Week beginning #{mostRecentNewsletter.weekBeginning}]
            li #[a(href="/newsletters") Older newsletters]

    h2 Useful Pages
    ul
        li #[a(href="/") Useful external links]

    if isAdmin
        h2 Hidden Area
        ul
            li #[a(href="/admin") Admin area]
