extends layout

block content
    sidebox.liturgical-border
        h2 Parish Priest
        p #[b #{parishPriest.full_name}]
            br
            | #[i Presbytery] &nbsp; #{parishPriest.landline}
            br
            | #[i Mobile] &nbsp; #{parishPriest.mobile}
            br
            | #[i Email] &nbsp; #{parishPriest.email}
            br
            | #[i Post] &nbsp; #{parishPriest.address_name}

        h2 Locations
        for location in locations
            p #[b #{location.house_name}]
                br
                | #{location.firstLine}
                br
                | #{location.town}
                br
                | #{location.post_town}
                br
                | #{location.postcode}
                br

    h1 Service Times

    table.homepage
        tr
            th Service
            th Time
            th Location
        for service in serviceTimes
            tr
                td=service.service_type
                td=service.time
                td=service.location_name

    div.slideshows-container
        div.slideshow-container
            div.mySlidesBatch2.fade
                img.slideshow(src="/images/slideshows/sacred_heart/1.jpg")
            div.mySlidesBatch2.fade
                img.slideshow(src="/images/slideshows/sacred_heart/2.jpg")
            div.mySlidesBatch2.fade
                img.slideshow(src="/images/slideshows/sacred_heart/3.jpg")
        div.slideshow-container
            div.mySlides.fade
                img.slideshow(src="/images/slideshows/st_marys/1.jpg")
            div.mySlides.fade
                img.slideshow(src="/images/slideshows/st_marys/2.jpg")
            div.mySlides.fade
                img.slideshow(src="/images/slideshows/st_marys/3.jpg")
            div.mySlides.fade
                img.slideshow(src="/images/slideshows/st_marys/4.jpg")

    if isAdmin
        h2 Hidden Area
        ul
            li #[a(href="/admin") Admin area]

    h2 Welcome
    p On behalf of the parishes of #[b St Mary's Edlington] and #[b Sacred Heart Balby], welcome! We are two communities, both based in the #[b Doncaster] area, who gather regularly to worship, to receive the sacraments, to announce the gospel, and to support each other in following #[b Jesus Christ]. Our church services are #[b open to all], and we strive to create communities where all will feel welcome.

    script(type="text/javascript", src="/frontend_scripts/slideshow.js")
