extends layout

block content
    helpbox.liturgical-border
        h2 Parish Priest
        p #[b #{parishPriest.full_name}]
            br
            | #[i Presbytery] &nbsp; #{parishPriest.landline}
            br
            | #[i Mobile] &nbsp; #{parishPriest.mobile}
            br
            | #[i Email] &nbsp; #{parishPriest.email}
            br
            | #[i Post] &nbsp; #{parishPriest.address_name}

        h2 Locations
        for location in locations
            p #[b #{location.house_name}]
                br
                | #{location.firstLine}
                br
                | #{location.town}
                br
                | #{location.post_town}
                br
                | #{location.postcode}
                br

    h1 Service Times

    table.homepage
        tr
            th Service
            th Time
            th Location
        for service in serviceTimes
            tr
                td=service.service_type
                td=service.time
                td=service.location_name

    div.slideshow-container-homepage
        div.mySlides.fade
            img.slideshow-homepage(src="/images/st_marys_edlington_nave.jpg")
        div.mySlides.fade
            img.slideshow-homepage(src="/images/st_marys_edlington_font.jpg")
        div.mySlides.fade
            img.slideshow-homepage(src="/images/st_marys_edlington_outside1.jpg")
        div.mySlides.fade
            img.slideshow-homepage(src="/images/st_marys_edlington_outside2.jpg")

    if isAdmin
        h2 Hidden Area
        ul
            li #[a(href="/admin") Admin area]

    h2 About Us
    p PLEASE FILL ME IN!

    script(type="text/javascript", src="/frontend_scripts/slideshow.js")
