extends layout

block content
    div.helpbox
        h2 Parish Priest
        p #[b #{parishPriest.full_name}]
            br
            | #[i Presbytery] &nbsp; #{parishPriest.landline}
            br
            | #[i Mobile] &nbsp; #{parishPriest.mobile}
            br
            | #[i Email] &nbsp; #{parishPriest.email}
            br
            | #[i Post] &nbsp; #{parishPriest.address_name}

        h2 Location
        p #{location.house_name}
            br
            | #{location.firstLine}
            br
            | #{location.town}
            br
            | #{location.post_town}
            br
            | #{location.postcode}

    h1 Service Times

    table.homepage
        tr
            th Service
            th Weekday
            th Time
            th Location
        for service in serviceTimes
            tr
                td=service.service_type
                td=service.weekdayString
                td=service.time
                td=service.location_name

    h2 Useful Pages
    ul
        li #[a(href="/") Contact details and addresses]
        li #[a(href="/") Newsletters]
        li #[a(href="/") Useful external links]
