doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            div.liturgical-border
                table.tabs
                    tr
                        td.tabs #[a(href="/") #[button.liturgical-background Home]]
                        td.tabs #[a(href="/youth") #[button.liturgical-background Youth]]
                        td.tabs #[a(href=mostRecentNewsletterURL) #[button.liturgical-background Newsletter]]
                        td.tabs
                            div.dropdown
                                button.liturgical-background More
                                div.dropdown-content
                                    a(href="/gallery") Gallery
                                    a(href="/pilgrimages") Pilgrimages
                                    a(href="http://www.liturgyoffice.org.uk/Calendar/") Calendar
                                    a(href="/newsletters") Older Newsletters
                                    a(href="/other-documents") Other Documents
            block content
        footer
            br
            p #[a(href="/") Home] | !{logInOrOut}
    script(
        type="text/javascript",
        src="/frontend_scripts/browserified/liturgical_colours.js"
    )
