mixin to-two-digit(number)
    if number > 9
        | #{number}
    else
        | 0#{number}

mixin to-time(hours, minutes)
    +to-two-digit(hours)
    |:
    +to-two-digit(minutes)

mixin weekday-numeral-to-name(numeral)
    if numeral == 0
        | Sunday
    else if numeral == 1
        | Monday
    else if numeral == 2
        | Tuesday
    else if numeral == 3
        | Wednesday
    else if numeral == 4
        | Thursday
    else if numeral == 5
        | Friday
    else if numeral == 6
        | Saturday
    else
        | BAD WEEKDAY NUMERAL

mixin month-numeral-to-name(numeral)
    if numeral == 1
        | Jan
    else if numeral == 2
        | Feb
    else if numeral == 3
        | Mar
    else if numeral == 4
        | Apr
    else if numeral == 5
        | May
    else if numeral == 6
        | Jun
    else if numeral == 7
        | Jul
    else if numeral == 8
        | Aug
    else if numeral == 9
        | Sep
    else if numeral == 10
        | Oct
    else if numeral == 11
        | Nov
    else if numeral == 12
        | Dec
    else
        | BAD MONTH NUMERAL

mixin to-day-month(day, month)
    +to-two-digit(day)
    | 
    +month-numeral-to-name(month)

mixin to-full-date(day, month, year)
    +to-day-month(day, month)
    | 
    | #{year}

mixin to-service-time(weekday, day, month, year, hours, minutes)
    if weekday || weekday == 0
        | Every 
        +weekday-numeral-to-name(weekday)
    else
        +to-full-date(day, month, year)
    | 
    | at 
    +to-time(hours, minutes)

doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        bbox
            div.header
            div.liturgical-border
                table.tabs
                    tr
                        td.tabs #[a(href="/") #[button.liturgical-background Home]]
                        td.tabs
                            div.dropdown
                                button.liturgical-background Youth
                                div.dropdown-content
                                    a(href="/youth/childrens-liturgies") Children's Liturgies
                        td.tabs #[a(href=globalData.mostRecentNewsletterLink) #[button.liturgical-background Newsletter]]
                        td.tabs
                            div.dropdown
                                button.liturgical-background More
                                div.dropdown-content
                                    a(href="/gallery") Gallery
                                    a(href="/pilgrimages") Pilgrimages
                                    a(href="http://www.liturgyoffice.org.uk/Calendar/") Calendar
                                    a(href="/newsletters") Older Newsletters
                                    a(href="/other-documents") Other Documents
            block content
        footer
            br
            p #[a(href="/") Home] | 
                if loggedIn
                    | #[a(href="/admin") Admin area] | #[a(href="/logout") Log out]
                else
                    | #[a(href="/logmein") Log in]
    script(
        type="text/javascript",
        src="/frontend_scripts/browserified/liturgical_colours.js"
    )
