extends layout

block content
    h1 #{title}

    div.pilgrimage-image-box
        img.pilgrimage(src="/images/lourdes.jpg")

    if data.pilgrimages.length == 0
        p #[i No pilgrimages are being organised at the moment.]

    for pilgrimage in data.pilgrimages
        h2 #{pilgrimage.destination} #{pilgrimage.end_year}
        p
            | #[i When] &nbsp;
            +to-day-month(pilgrimage.start_day, pilgrimage.start_month)
            |  &mdash; 
            +to-full-date(pilgrimage.end_day, pilgrimage.end_month, pilgrimage.end_year)
        if pilgrimage.email
            p #[i Email] &nbsp; #{pilgrimage.email}
        if pilgrimage.telephone
            p #[i Telephone] &nbsp; #{pilgrimage.telephone}
        if pilgrimage.other_text
            p !{pilgrimage.other_text}
